:root {
  /* Spacing */
  --spacing-xxxs: 8px;
  --spacing-xxs: 16px;
  --spacing-xs: 24px;
  --spacing-sm: 32px;
  --spacing-md: 48px;
  --spacing-lg: 68px;
  --spacing-xlg: 96px;
  --spacing-xxlg: 128px;

  /* Font scale */
  --font-scale-md: 1rem;
  --font-scale-lg: 1.25rem;
  --font-scale-xlg: 1.5rem;
  --font-scale-xxlg: 2rem;

  /* Color palette */
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-lighter: hsl(45deg, 100%, 50%);
  --color-secondary-darker: hsl(45deg, 100%, 40%);

  /* Grays */
  --color-black: hsl(0deg, 0%, 0%);
  --color-very-dark: hsl(0deg, 0%, 10%);
  --color-dark: hsl(0deg, 0%, 30%);
  --color-medium: hsl(0deg, 0%, 40%);
  --color-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.max-width-wrapper {
  padding: var(--spacing-md) 0;
}

.max-width-wrapper strong {
  color: var(--color-primary);
}

.max-width-wrapper .title {
  font-size: var(--font-scale-xxlg);
}

.max-width-wrapper .intro-chunk {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--spacing-xs);
}

.intro-chunk > p {
  max-width: 330px;
}

main {
  border-top: var(--spacing-xxxs) solid var(--color-light);
  background-color: var(--color-medium);
}

.max-width-wrapper .card {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-white);
  padding: var(--spacing-sm) var(--spacing-xs) var(--spacing-xs);
  border-bottom: var(--spacing-xxxs) solid var(--color-light);
}

.max-width-wrapper .indented-heading {
  max-width: max-content;
  margin-top: calc(var(--spacing-xs) * -1);
  margin-left: calc(var(--spacing-sm) * -1);
  padding: var(--spacing-xxs) var(--spacing-sm);
  font-size: var(--font-scale-xlg);
  background-color: var(--color-secondary-lighter);
  border-bottom: var(--spacing-xxxs) solid var(--color-secondary-darker);
}
